.input {
    margin-top: 0.5rem;
    resize: none;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.input:focus {
    outline: none;
}

.submit {
    height: 90%;
    margin-top: 1rem;
    margin-left: 0.2rem;
}